<!DOCTYPE html>
<html ng-app="calculatorApp">
    <head>
        <title>Accounting calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet/less" href="css/main.less">
        <script src="../vendor/less.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <div id="calculator" ng-controller="CalculatorCtrl">
            <div class="calc-box">
                <h1>The Accounting Calculator</h1>
                <div class="row">
                    <div class="clac-body">
                        <div class="show-result">
                            <input type="text" readonly placeholder="0" ng-model="res">
                        </div>
                        <div class="buttons">
                            <button ng-repeat="button in buttons" class="calc-button" ng-click="update(button)">{{button}}</button>
                        </div>
                    </div>
                    <div class="calc-history">
                        <h3>Calculator history</h3>
                        <div class="item" ng-repeat="item in historyItems">{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
